
.heart__box {
    position: relative;
    margin-right: 25px;
    cursor: pointer;

    .heart__full {
        position: absolute;
        font-size: 23px;
        top: 0;
        left: 0;
        
        background: linear-gradient(180deg, $primary-color, 30%,$secondary_color);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            z-index: 999;
        }
    
        &::after {
    
            content: "f004";
            position: absolute;
            top: 0;
            left: 0;
            background: #f4f4f4;
        
            height: 100%;
            transition: all 1s;
            
        }
    
        &:hover::after {
            height: 0%;
            z-index: 999;

        }
    }
    
    .heart__empty {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 23px;

    
        &:hover {
            z-index: -999;
        }
        
    }
}
