
.heart__box {
    position: relative;
    margin-right: 25px;
    cursor: pointer;

    .heart__full {
        position: absolute;
        font-size: 23px;
        top: 0;
        left: 0;
        
        background: linear-gradient(180deg, $primary-color, 30%,$secondary_color);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            z-index: 999;
        }
    
        &::after {
    
            content: "f004";
            position: absolute;
            top: 0;
            left: 0;
            background: #f4f4f4;
        
            height: 100%;
            transition: all 1s;
            
        }
    
        &:hover::after {
            height: 0%;
            z-index: 999;

        }
    }
    
    .heart__empty {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 23px;

    
        &:hover {
            z-index: -999;
        }
        
    }
}
//==animation menu==//

.entree__carte .carte__item {
    animation: Entree 1.5s ease forwards;
    opacity: 0;
}
  

.plats__carte .carte__item {
    animation: Plat 5.5s ease forwards;
    opacity: 0;
}
  

.desserts__carte .carte__item {
    animation: Dessert 9.5s ease forwards;
    opacity: 0;
}
  

@keyframes Entree {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  

@keyframes Plat {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  

@keyframes Dessert {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.carte__item {
    position: relative;
    overflow: hidden;
    .bloc__1 {
        .bloc__texte {
            overflow: hidden;
            
            p, h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
        }

        .price {
            transition: .3s;
        }
    }

    .bloc__2 {
        position : absolute;
        width : 150px;
        height : 100px;
        padding-top: 2px;
        background : $tertiary_color;
        right :-150px;
        top: 0px;
        transition : .3s;

            i {
                font-size: 1.4em;
                color: white;
                margin-left: 20px;
                margin-top: 20px;
                transform: rotate(90deg);
                transition: all 300ms linear;
            }
    }

    &:hover {

        cursor: pointer;

        .bloc__1 {
            .price {
                margin-right: 70px;
            }
        }

        .bloc__2 {
            right: -90px;
        }


        i {
            transform: rotate(360deg);
        }
    }
}








