button {
    padding: 15px 30px;
    margin-bottom: 50px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(180deg, $secondary_color,$primary_color);
    color: rgb(230, 228, 228);
    border: none;
    @include box-shadow();
    cursor: pointer;

    &:hover {
        @include box-shadow($blur:20px, $spread:-10px);
        filter: brightness(110%);
    }

    
}